<header class="header">
  <a href="/" class="header-logo">Admin</a>
  <nav class="header-nav">
    <ul>
      <li>
        <a href="/" class="nav-items">Home</a>
      </li>
      <li>
        <a href="/about" class="nav-items">About</a>
      </li>
    </ul>
  </nav>
  <div class="header-btn">
    <a href="/logout" class="nav-items">Logout</a>
  </div>
</header>
