<div class="searchbar">
  <div class="container">
    <form action="/search" class="search-form" method="POST" role="search">
      <input
        type="search"
        aria-label="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search...."
      />
    </form>
    <div id="searchClose">Close</div>
  </div>
</div>
