<section class="articles">
  <h1 class="articles-heading">About ChroniQuill :</h1>
  <span class="articles-heading">
    Welcome to ChroniQuill, a blogging website, powered by Node.js, Express, and
    EJS! We're dedicated to providing a platform for individuals to share their
    thoughts, stories, and insights with the world.
  </span>
  <h1 class="articles-heading">Features :</h1>
  <ul>
    <li>
      <span class="articles-heading">
        Create and Edit Posts: With the intuitive interface, you can easily
        create new blog posts and edit existing ones. Whether you're sharing
        personal experiences, industry insights, or creative writing, our
        platform empowers you to express yourself freely.
      </span>
    </li>
    <br />
    <li>
      <span class="articles-heading">
        Customizable Templates: ChroniQuill leverage EJS (Embedded JavaScript)
        templates to create dynamic and customizable web pages. This allows to
        tailor the look and feel of ChroniQuill to suit your preferences.
      </span>
    </li>
    <br />
    <li>
      <span class="articles-heading">
        User Authentication: ChroniQuill offers secure user authentication,
        allowing you to create an account, log in, and securely manage your
        posts.
      </span>
    </li>
    <br />
    <li>
      <span class="articles-heading">
        Robust Backend: Behind the scenes, the Node.js and Express backend
        handles data management, authentication, and server-side rendering,
        ensuring a fast and reliable user experience.
      </span>
    </li>
    <br />
    <li>
      <span class="articles-heading">
        Responsive Design: ChroniQuill is designed to be responsive, ensuring a
        seamless experience across devices of all sizes. Whether you're browsing
        on a desktop, tablet, or smartphone, you can enjoy our blogging platform
        without compromise.
      </span>
    </li>
  </ul>
</section>
