<div class="author">
  <h1 class="author-heading">NodeJs</h1>
  <p class="author-body">Web Developer</p>
</div>

<img
  src="/img/img.avif"
  alt="person sitting"
  class="hero-image"
  width="981"
  height="528"
/>

<section class="articles">
  <h2 class="articles-heading">Latest Posts</h2>
  <ul class="articles-ul">
    <li>
      <a href="#">
        <span>Post Title</span>
        <span class="articles-listdate">Date</span>
      </a>
    </li>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
